body{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}
.counter{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.btn{
    border: none;
    outline: none;
    background-color: rgb(145, 0, 0);
    color: #ddd;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
}
.result{
    font-size: 2rem;
}

.theme{
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    transform: translateY(0px);
    transition: all .2s ease;
}
.theme:active{
    transform: translateY(2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
.blue{
    background-color: blue;
}
